* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 2px;
    background-color: lightgreen;
    font-family: sans-serif;
    .container {
        padding: 40px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .weatherform {
           margin-bottom: 25px;
           text-align: center;
            h1 {
                margin-bottom: 25px;
                color: #fff;
                text-shadow: 4px 4px 10px black;
                font-weight: bold;
                font-size: 40px;
                text-transform: uppercase;
            }
            .city {
                width: 16vw;
                height: 30px;
                font-weight: bold;
                font-style: italic;
                padding-left: 5px;
                &:focus {
                    outline: none;
                }
            }
            .submitButton {
                height: 30px;
                border-radius: 4px;
                padding: 5px;
            
            }
        }
        .results {
            margin-top: 25px;
            color: #fff;
            text-shadow: 2px 2px 3px black;
            p {
                padding: 5px 0px;
            }
            span{
                font-weight: bolder;
                font-size: 25px;
            }
        }
    }
}
    
